.navLanguage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.links {
    display: flex;
    gap: 120px;
    justify-content: center;
}

.link {
    color: #242424;
}

.radio {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.buttons {
    display: flex;
    gap: 10px;
}

.btn {
    display: flex;
    align-items: center;
    gap: 8px;
    border-radius: 8px;
    border: 2px solid transparent;
    padding: 4px 18px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: transparent;
    position: relative;
    z-index: 1;
    overflow: hidden;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transform: translateY(-2px);
    background-color: transparent;
}

.icon {
    width: 1em;
    height: 1em;
}

.selected {
    border: 2px solid #EBD815;
    background-color: transparent;
}