.navLanguage {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
}

.links {
    display: flex;
    gap: 120px;
    justify-content: space-between;
    position: relative;
}

.link {
    color: #242424;
    position: relative;
    padding: 2px 18px;
    font-weight: 500;
    font-family: inherit;
    text-decoration: none;
    cursor: pointer;
    transition: color 0.3s;
}

.link::after {
    content: '';
    position: absolute;
    width: calc(100% - 36px);
    height: 6px;
    left: 18px;
    bottom: -10px;
    background: linear-gradient(to bottom, #FFFFFF, #EBD815);
    border-radius: 4px;
    opacity: 0;
    transition: opacity 0.3s;
}

.link.active::after,
.link:hover::after {
    opacity: 1;
}

.radio {
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    -webkit-clip-path: inset(100%);
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.buttons {
    display: flex;
    gap: px;
}

.radioItem {
    display: flex;
    align-items: center;
    gap: 8px;
}

.btn {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    border-radius: 8px;
    width: 80px;
    padding: 2px;
    font-weight: 500;
    font-family: inherit;
    cursor: pointer;
    transition: border-color 0.5s, box-shadow 0.3s, transform 0.3s;
    background-color: transparent;
    z-index: 1;
}

.btn.selected::after {
    content: '';
    position: absolute;
    width: calc(100% - 36px);
    height: 6px;
    left: 18px;
    bottom: -10px;
    background: linear-gradient(to bottom, #FFFFFF, #EBD815);
    border-radius: 4px;
}

.icon {
    width: 16px;
    height: 16px;
}

.selected {
    background-color: transparent;
}

.labelTitle {
    margin: 0;
}